@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --background-primary: #1A4D2E; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* font-family: '__Inter_e66fe9'; */
  color: rgb(var(--foreground-rgb));
  /* background-color: (var(--background-primary)); */
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}


.button-shadow {
  box-shadow: 0px 15px 30px 0px rgba(0, 197, 77, 0.33);
}